.fira-sans-normal {
    font-family: "fira sans", open sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* styles in body */
header, main {
    margin: 0 160px;
    
}
body{
    background-color: whitesmoke;
}


/* shard styles  */
.section-title {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

.section-subtitle {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.card-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.btn-primary {
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    padding: 11px 20px 11px 20px;
    border: none;
}

/* nav styles */
.nav-title {
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}

.nav-button {
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    padding: 15px 30px 15px 30px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* hero section  */
.hero-container {
    display: flex;
    border-radius: 24px;
    gap: 60px;
    background: rgb(198, 228, 214);
    padding: 110px 0 110px 60px;
}

.hero-info-container {}

.hero-name {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.hero-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
}

.hero-button {
    border-radius: 8px;
    padding: 17px 34px 17px 34px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
}

/* pillar of bangladesh section */
.pillar-section {
    margin-top: 80px;
}

.pillar-container {
    display: flex;
    gap: 24px;
}

.pllar {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 24px;
    background: rgb(255, 255, 255);
}

/* the vison of future section */
.vison-section {
    margin-top: 80px;
}

.vision-container {
    display: flex;
    gap: 24px;
    margin-top: 30px;
}

.vision {
    box-sizing: border-box;
    border-radius: 16px;
    padding: 32px;

}

.vision-1 {
    background: rgba(84, 144, 245, 0.2);
}

.vision-2 {
    background: rgb(198, 228, 214);
}

.vision-3 {
    background: rgb(247, 235, 207);
}

.btn-v1 {
    background: rgb(84, 144, 245);
    color: rgb(255, 255, 255);
}

.btn-v2 {
    background: rgb(9, 161, 92);
    color: rgb(255, 255, 255);
}

.btn-v3 {
    background: rgb(255, 194, 57);
    color: rgb(255, 255, 255);
}

.qoute {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    margin-top: 32px;
    background: url(../assets/quote-bg.png),white;
    background-repeat: no-repeat;
    background-position: 1% 11%;
    padding: 48px 10px;


}

.qoute-position {
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;

}

/* Recent section styles start from here */
.recent-section {
    margin-top: 80px;
}

.recent {
    border-radius: 24px;
    background: rgb(255, 255, 255);
    display: flex;
    padding: 48px;
    gap: 24px;
    ;
    margin-top: 24px;
}

.recent img {
    border-radius: 24px;
}

.recent-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
}

.recent2 {
    flex-direction: row-reverse;
}

/* donate section styles */
.donate-section {
    margin-top: 80px;
}

.center {
    text-align: center;
}

.amount-container {
    display: flex;
    gap: 24px;
    justify-content: space-around;
    margin: 20px 0;
}

.donation-amount {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 40px;
    background: rgb(255, 255, 255);

}

.donation-amount:hover {
    background-color: rgb(198, 228, 214);
}

.donate-section input {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    border: none;
    text-align: center
}

#donate-input {
    padding: 20px 40px 20px 40px;
    margin-bottom: 32px;
}

.donate-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    margin-bottom: 80px;
}

/* subscribe new letter section start here */
.newsletter-section {
    border-radius: 24px;
    padding: 80px 100px;
    background: rgb(198, 228, 214);
    margin-bottom: 80px;
}

.subs-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.subs-input-field {
    border-radius: 8px 0px 0px 8px;
    color: rgba(14, 14, 14, 0.3);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    background: rgb(255, 255, 255);
    padding: 11px 20px 11px 20px;
    border: none;
    width: 50%;
}
.sub-btn{
    border-radius: 0px 8px 8px 0px;
}

/* footer section start here */
footer{
    background: rgb(255, 255, 255);
    padding: 50px 160px;
}
.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
}
hr{
    border: 1px solid rgba(14, 14, 14, 0.1);
    margin-bottom: 30px;
}